<div class="row">
    <h3 ng-show="globals.currentLogin" class="col-xs-10 col-xs-offset-1 text-center">Oops, parece que você já entrou no sistema...</h3>
    <div class="col-md-6 text-center" ng-hide="globals.currentLogin">
        <h2>Login</h2>
        <form class="col-sm-8 col-sm-offset-2" ng-submit="vm.login()">
            <div class="form-group">
                <input type="email" class="form-control" ng-model="vm.email" id="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="vm.password" id="password" placeholder="Senha" required>
            </div>
            <button type="submit" class="btn btn-default">Entrar</button>
        </form>
    </div>
    <div class="col-md-6 text-center" ng-hide="globals.currentLogin">
        <h2>Ainda não é cadastrado?</h2>
    </div>
</div>